
.font{
    font-family: 'Open Sans', sans-serif;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;


    
    
}
nav >ul{
    display: flex;
    align-items: center;
   
 
}


nav li{
    list-style: none;
    margin: 20px;
    
  
}

nav li a{
    text-decoration: none;
}

.nav-title{
 color: #181818;
font-size: 50px;
font-weight:800;
text-align: center;

}

.nav-text{

    color: orange;
    
}


.btn-primary{
    background-color: orange;
    border-radius: 5px;
    color:white;
    padding: 10px;
}