

header{
    background-color: #ecdbcf;
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    margin: 10px;
   
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a{
 text-decoration: none ;
 margin-right: 10px ;
}

.heading-line{
     font-size: 45px;
      color: black;
      font-weight: 800px;
      text-align: center;


}

.head-title{
    color: #FD6E0A;
}

.btn-dec{
    color: white;
    background-color:#FD6E0A;
    border-radius: 4px;
    border: 0px;
    padding:5px;
}

.banner{
    padding: 0px 200px;
    display: flex;
    align-items: center;

}

.main-img{
    width: 584px;
    height: 676px;
}